language: python

python:
  - 3.6
  - 3.7
  - 3.8

before_install:
  - sudo apt-get install graphviz

install:
  - pip install -U pip
  - pip install tox-travis
  - pip install coveralls
  - pip install -r requirements.txt
  - pip install -r requirements-dev.txt

script:
  - coverage run --source=ds_utils -m pytest --cov-config .coveragerc --cov=ds_utils --cov-report=term-missing

after_success:
  - coveralls

notifications:
  email:
    on_success: never
    on_failure: always