language: python

python:
  - 3.11

before_install:
  - sudo apt-get install graphviz

install:
  - pip install -U pip
  - pip install coveralls
  - pip install -r requirements.txt
  - pip install -r requirements-dev.txt

script:
  - coverage run --source=ds_utils -m pytest

after_success:
  - coveralls

notifications:
  email:
    on_success: never
    on_failure: always