name: Build

on:
  push:
  pull_request:
    types: [ opened, reopened ]

permissions:
  contents: read

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
        python-version: [ "3.10", "3.11", "3.12", "3.13" ]
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
          cache-dependency-glob: |
            pyproject.toml
            uv.lock
          python-version: ${{ matrix.python-version }}

      - name: Set up Python ${{ matrix.python-version }}
        run: uv python install ${{ matrix.python-version }}

      - name: Set TCL/TK Environment Variables
        if: runner.os == 'Windows'
        run: |
          $pythonLocation = uv python find ${{ matrix.python-version }}
          $pythonDir = Split-Path $pythonLocation
          echo "TCL_LIBRARY=$pythonDir\tcl\tcl8.6" >> $env:GITHUB_ENV
          echo "TK_LIBRARY=$pythonDir\tcl\tk8.6" >> $env:GITHUB_ENV
          echo "MPLBACKEND=Agg" >> $env:GITHUB_ENV
        shell: powershell

      - name: Install graphviz binaries for Linux (${{ runner.arch }})
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get -y install graphviz

      - name: Install graphviz binaries & Chromium for Windows (${{ runner.arch }})
        if: runner.os == 'Windows'
        run: choco install -y graphviz chromium

      - name: Install graphviz binaries for macOS (${{ runner.arch }})
        if: runner.os == 'macOS'
        run: brew install graphviz

      - name: Sync dependencies
        run: uv sync --all-extras --dev

      - name: Run tests
        run: uv run pytest --mpl --cov-config=.coveragerc --cov=ds_utils --cov-report=xml -n auto
        env:
          PYTHONPATH: "."
          OMP_NUM_THREADS: "1"
          DISPLAY: ":99"

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml
          flags: ${{ matrix.os }}-python-${{ matrix.python-version }}
          fail_ci_if_error: true

      - name: Run Ruff Formatter Check
        run: uvx ruff format --check .

      - name: Run Ruff Linter
        run: uvx ruff check .
